<header>
    <nav class="navbar navbar-expand-lg navbar-dark steamNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img id="logo" src="{{asset('img/icons/favicon.png')}}" alt="icon">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('home') }}"><h1>SteamBook</h1></a>
                </li>
                <li class="nav-item ms-5">
                <div class="userStates">
                {% set value = profil.personastate %}
                    {% if profil.personastate == 0 %}
                        <img class="offline" src="{{ profil.avatarmedium }}" alt="user Picture">
                    {% elseif profil.personastate == 1 %}
                        <img class="online" src="{{ profil.avatarmedium }}" alt="user Picture">
                    {% elseif profil.personastate == 2 %}
                        <img class="busy" src="{{ profil.avatarmedium }}" alt="user Picture">
                    {% elseif profil.personastate == 3 %}
                        <img class="away" src="{{ profil.avatarmedium }}" alt="user Picture">
                    {% elseif profil.personastate == 4 %}
                        <img class="snooze" src="{{ profil.avatarmedium }}" alt="user Picture">
                    {% elseif profil.personastate == 5 %}
                        <img class="lookingToTrade" src="{{ profil.avatarmedium }}" alt="user Picture">
                    {% else %}
                        <img class="lookingToPlay" src="{{ profil.avatarmedium }}" alt="user Picture">
                {% endif %}
                </div>
                <li class="nav-item ms-2">
                <h3>{{ profil.personaname }}</h3>
                {% if profil.gameextrainfo is defined %}
                <span class="ms-1">Joue à <b>{{ profil.gameextrainfo }}</b></span>
                {% endif %}
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tchat
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for channel in channels %}
                        <li><a class="dropdown-item" href="{{ path('tchat', {slug: channel.slug}) }}">{{channel.name}}</a></li>
                    {% endfor %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('create_channel') }}">Crée nouveau salon</a></li>
                    <li><a class="dropdown-item" href="{{ path('liste_channel') }}">Listes des salon</a></li>
                </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control form-dark form-custom" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark btn-custom" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
</header>
