{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<<<<<<< HEAD
    
=======
{% for games in games|sort((a, b) => a.name <=> b.name)|slice(0, 10) %}
    <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ games.appid }}/{{ games.img_logo_url }}.jpg" alt=""> <br>
    <span>{{ games.appid }} => {{ games.name }} temps jouer: {{ games.playtime_forever }} minutes</span> <br>
{% endfor %}
>>>>>>> a72aef79fc6e370de45f2aaebce07da41dfe1093

{% endblock %}


